<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.2/css/bootstrap.min.css"/>
</head>

<div>
    <h1>UGEOverflow</h1>
    <h3><small class="text-muted" th:text="${'Welcome to your home page ' + loggedUser.getUsername()}"></small></h3>
    <ul>
        <li><a th:href="@{/authentication/logout}">Logout</a></li>
        <li><a th:href="@{/authentication/settings}">User settings</a></li>
    </ul>
</div>

<div>
    <div class="container-fluid bg-light">
        <div class="d-flex justify-content-center">
            <form th:action="@{/users/homepage/questions}" method="post">
                <button type="submit" class="btn btn-info me-2" id="button1">Questions</button>
            </form>
            <form th:action="@{/users/homepage/users}" method="post">
                <input type="hidden" name="loggedUser" th:value="${loggedUser.username}">
                <button type="submit" class="btn btn-info me-2" id="button2">Users</button>
            </form>
            <button class="btn btn-info" id="button3">Tags</button>
        </div>
    </div>



    <div id="bloc3">
        <div class="col-md-11 text-center">
            <form th:action="@{/question/tag}" method="get">
                <ul class="list-inline">
                    <li th:each="tag : ${T(fr.uge.jee.ugeoverflow.publishing.Tag).values()}" class="list-inline-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   th:id="${'tag_' + tag.name()}"
                                   th:name="${'selectedTags'}"
                                   th:value="${tag.name()}">
                            <label class="form-check-label"
                                   th:for="${'tag_' + tag.name()}"
                                   th:text="${tag.name()}"></label>
                        </div>
                    </li>
                </ul>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>



</html>