
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<h1 th:text="${question.topic}"></h1>


<div>
    <tr th:each="tag: ${question.tags}">
        <td th:text="${tag}"></td>
    </tr>
    <p th:text="${question.content}"> </p>

    <div th:if="${commentsQuestion.isEmpty()}">
        <p>This question has no comments</p>
    </div>
    <div th:if="${!commentsQuestion.isEmpty()}">
        <ul>
            <li th:each="comment, iter : ${commentsQuestion}" th:if="${iter.index < 5}">
                <p th:text="${comment.content}"></p>
            </li>
        </ul>
        <div th:if="${commentsQuestion.size() > 5}">
            <button type="button" class="btn btn-secondary" id="see-more" onclick="showMoreComments()">See more</button>
        </div>
        <ul id="hidden-comments" class="list-group" style="display: none">
            <li th:each="comment, iter : ${commentsQuestion}" th:if="${iter.index >= 5}">
                <p th:text="${comment.content}" class="list-group-item"></p>
            </li>
        </ul>
    </div>

    <form th:action="@{/comment/question}" th:object="${commentQuestion}" method="post">
        <input type="hidden" th:name="author.username" th:value="${loggedUser}">
        <input type="hidden" th:name="parentQuestion.id" th:value="${question.id}">
        <div class="form-group">
            <textarea class="form-control" id="content" name="content" rows="3" th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add comment</button>
    </form>

    <div>
        <form th:action="@{/answer/add}" th:object="${answer}" method="post">
            <input type="hidden" th:name="author.username" th:value="${loggedUser}">
            <input type="hidden" th:name="parentQuestion.id" th:value="${question.id}">
            <div class="form-group">
                <textarea class="form-control" id="answerContent" th:name="content" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Answer</button>
        </form>
    </div>

    <!-- Affichage des answers -->
    <div>
        <div th:if="${answers.isEmpty()}">
            <p>This question has no answer</p>
        </div>
        <div th:if="${!answers.isEmpty()}">
            <ul>
                <li th:each="answer : ${answers}">
                    <p th:text="${answer.getContent()}"></p>
                    <div>
                        <form th:action="@{/comment/answer}" th:object="${commentAnswer}" method="post">
                            <input type="hidden" th:name="author.username" th:value="${loggedUser}">
                            <input type="hidden" th:name="parentAnswer.id" th:value="${answer.id}">
                            <div class="form-group">
                                <textarea class="form-control" th:name="content" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </form>
                    </div>

                    <div th:if="${!answer.getCommentAnswers().isEmpty()}">
                        <li th:each="commentAnswer : ${answer.getCommentAnswers()}">
                            <p th:text="${commentAnswer.getContent()}"></p>
                        </li>
                    </div>
                    <div th:if="${answer.getCommentAnswers().isEmpty()}">
                        <p>Pas de commentaire</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>

<script>
    function showMoreComments() {
        const hiddenComments = document.getElementById("hidden-comments");
        hiddenComments.style.display = "block";
        const seeMoreButton = document.getElementById("see-more");
        seeMoreButton.style.display = "none";
    }
</script>

</html>