<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="mb-3">
        <a href="/users/homepage/questions" class="btn btn-primary">Home</a>
    </div>
    <h1>Create Question</h1>

    <form th:action="@{/question/create}" th:object="${question}" method="post" class="mb-3">

        <div th:class="error" th:if="${selectedUserError != null}" th:text="${selectedUserError}"/>

        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>

        <div>
            <input type="hidden" th:name="author.username" th:value="${question.author.username}">
        </div>

        <div class="mb-3">
            <label for="topic">Topic:</label>
            <input type="text" id="topic" name="topic" th:field="*{topic}" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="content">Content:</label>
            <textarea id="content" name="content" th:field="*{content}" maxlength="255" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="tags">Tags:</label>
            <select id="tags" name="tags" multiple th:field="*{tags}" class="form-select">
                <option th:each="tag : ${allTags}" th:value="${tag}" th:text="${tag}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
</body>
</html>
