
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>


<h1 th:text="${question.topic}"></h1>


<div>
    <tr th:each="tag: ${question.tags}">
        <td th:text="${tag}"></td>
    </tr>
    <p th:text="${question.content}"> </p>

    <!--<table>
        <tbody>
        <tr th:if="${createdQuestion.getComments()}">
            <td colspan="2"> This question as no comments </td>
        </tr>
        <tr th:each="comments : ${questions}">
            <td title="Tags" th:each="tag : ${question.tags}">
                <span th:text="${tag}"></span>
            </td>
            <td>
                <span th:text="${question.topic}"> Topic </span>
            </td>
            <td>
                <span th:text="${question.content}"> Content </span>
            </td>
        </tr>
        </tbody>
    </table>-->

</div>


</html>