<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.2/css/bootstrap.min.css"/>
    <script>
            function checkPassword() {
            var regex = "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if(password == "" || confirmPassword == "") {
            document.getElementById("passwordError").innerHTML = "Password cannot be empty";
            return false;
        }
            if (password !== confirmPassword) {
            document.getElementById("passwordError").innerHTML = "Confirm password cannot be different";
            return false;
        }
            if (!password.match(regex)) {
            document.getElementById("passwordError").innerHTML = "The password must contain at least eight characters, such that at least : " +
            "<ul><li> one uppercase </li>" +
            "<li>one lowercase</li>" +
            "<li>one special character</li>" +
            "<li>one digit</li></ul>"
            return false;
        }
            return true;
        }
    </script>
</head>
<body>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="content">
        <form onsubmit="return checkPassword()" th:action="@{/authentication/register}" th:object="${user}" method="post">
            <h2>User register</h2>
            <hr />
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" th:field="${user.username}" type="text" name="username" placeholder="Username" required>
                <th:block th:if="${#fields.hasErrors('username')}" th:errors="${user.username}"></th:block>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" th:field="${user.email}" type="text" name="email" placeholder="Myemail@domain.fr" required>
                <th:block th:if="${#fields.hasErrors('email')}" th:errors="${user.email}"></th:block>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" th:field="${user.password}" type="password" name="password" placeholder="Password" required>
                <th:block th:if="${#fields.hasErrors('password')}" th:errors="${user.password}"></th:block>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password" required>
            </div>

            <small>
                <span class="text-danger" id="passwordError"/>
            </small>

            <div th:if="${registrationError != null}">
                <small class="text-danger" th:text="${registrationError}"/>
            </div>

            <hr />

            <div>
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
        <a th:href="@{/authentication/login}">Sign in</a>
    </div>
</div>
</body>
</html>